@charset "utf-8";
@font-face{font-family:'wille';
src: url(/WebsiteWILLE/Fontes/Myriad\ Pro\ Black.otf) format(opentype), 
url(/WebsiteWILLE/Fontes/Myriad\ Pro\ Bold.ttf) format(truetype), 
url(/WebsiteWILLE/Fontes/Myriad\ Pro\ Light.otf) format(opentype),
url(/WebsiteWILLE/Fontes/Myriad\ Pro\ Regular.ttf) format(truetype);
font-weight: normal;
font-style: normal;}

*{font-family: 'wille', Helvetica, sans-serif;
padding: 0px;
margin: 0px;}

.solicitar{
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.075);
    align-items: center;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:large;  
}
    
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul li{
    
    padding: 10px;
    display: inline;
}
.botao{
    background-color: black;
    color: white;
    padding: 13px; 
    border-radius: 8px

}
section{
display: grid;
margin: 10px;
padding: 0px 40px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 70vh;
}
aside{
    font-size: 4em;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
aside p {
    font-size: 0.5em;
}
.ilustra{
    display: flex;
    align-self: center;
    justify-self: center;
}

